$fontnav: medium black 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fontprov: larger #4b7c4b;
$borderboxes: solid 4px #4b7c4b;
$borderpaquetes: solid 2px #ec722b;
